<a href="https://colab.research.google.com/github/Chanunchida-May/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [16]:
import pandas as pd

In [17]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import os

In [19]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [26]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [21]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [23]:
gen_exams('623020516-1')

รหัสนักศึกษา 623020516-1 ทำข้อ 1 และ 4

In [147]:
merged = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน') #รวมตารางของflightsเเละairports
merged

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

In [145]:
merged.isnull().any() #ตรวจดูค่าmissing

รหัสสนามบินต้นทาง    False
รัฐ                  False
dtype: bool

###1.หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด

In [140]:
merged['รหัสสนามบินต้นทาง'].max() #ดูจำนวนเครื่องบินขาออกที่มีค่ามากสุด

15376

In [141]:
Flightsmax = merged.groupby('รัฐ').max().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False)
Flightsmax.iloc[:1,:]

     รหัสสนามบินต้นทาง
รัฐ
AZ               15376

In [142]:
merged['รหัสสนามบินต้นทาง'].min() #ดูจำนวนเครื่องบินขาออกที่มีค่าน้อยสุด

10140

In [143]:
Flightsmin = merged.groupby('รัฐ').min().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False) 
Flightsmin.iloc[-1:,:]

     รหัสสนามบินต้นทาง
รัฐ
NM               10140

###4.สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด

In [157]:
merged['สายการบิน'].max() #สายการบินที่มีความล่าช้าค่ามากสุด

'YV'

In [158]:
merged['สายการบิน'].min() #สายการบินที่มีความล่าช้าค่าน้อยสุด

'9E'

In [156]:
Flightsmax1 = merged.groupby('สายการบิน').max().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False) #ดูสายการบินว่าสายการบินไหนมีความล่าช้าน้อยที่สุด 
Flightsmax1.iloc[:1,:]

           วันในเดือน  วันในสัปดาห์  ...  รัฐ      ชื่อสนามบิน
สายการบิน                            ...
9E                 31             7  ...   WI  William P Hobby

[1 rows x 10 columns]

ตอบ สายการบิน 9E มีความล่าช้าขาออก 710 เเละ ความล่าช้าขาเข้า 700

In [153]:
Flightsmin1 = merged.groupby('สายการบิน').min().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False) #ดูสายการบินว่าสายการบินไหนมีความล่าช้ามากที่สุด 
Flightsmin1.iloc[-1:,:]

           วันในเดือน  วันในสัปดาห์  ...  รัฐ                        ชื่อสนามบิน
สายการบิน                            ...
YV                  1             1  ...   AZ  Albuquerque International Sunport

[1 rows x 10 columns]

ตอบ สายการบิน YV มีความล่าช้าขาออก -31 เเละ ความล่าช้าขาเข้า -94

###เเต่รัฐทั้งหมดมีสนามบินกี่เเห่ง

In [162]:
set(merged['ชื่อสนามบิน'])

{'Albuquerque International Sunport',
 'Austin - Bergstrom International',
 'Baltimore/Washington International Thurgood Marshall',
 'Bob Hope',
 'Bradley International',
 'Buffalo Niagara International',
 'Charlotte Douglas International',
 'Chicago Midway International',
 "Chicago O'Hare International",
 'Cincinnati/Northern Kentucky International',
 'Cleveland-Hopkins International',
 'Dallas Love Field',
 'Dallas/Fort Worth International',
 'Denver International',
 'Detroit Metro Wayne County',
 'Eppley Airfield',
 'Fort Lauderdale-Hollywood International',
 'General Mitchell International',
 'George Bush Intercontinental/Houston',
 'Hartsfield-Jackson Atlanta International',
 'Honolulu International',
 'Indianapolis International',
 'Jacksonville International',
 'John F. Kennedy International',
 'John Wayne Airport-Orange County',
 'Kahului Airport',
 'Kansas City International',
 'LaGuardia',
 'Lambert-St. Louis International',
 'Logan International',
 'Long Beach Airport',
 'Los Angeles International',
 'Louis Armstrong New Orleans International',
 'Louisville International-Standiford Field',
 'Luis Munoz Marin International',
 'McCarran International',
 'Memphis International',
 'Metropolitan Oakland International',
 'Miami International',
 'Minneapolis-St Paul International',
 'Nashville International',
 'Newark Liberty International',
 'Norfolk International',
 'Norman Y. Mineta San Jose International',
 'Ontario International',
 'Orlando International',
 'Palm Beach International',
 'Philadelphia International',
 'Phoenix Sky Harbor International',
 'Pittsburgh International',
 'Port Columbus International',
 'Portland International',
 'Raleigh-Durham International',
 'Reno/Tahoe International',
 'Richmond International',
 'Ronald Reagan Washington National',
 'Sacramento International',
 'Salt Lake City International',
 'San Antonio International',
 'San Diego International',
 'San Francisco International',
 'Seattle/Tacoma International',
 'Southwest Florida International',
 'Tampa International',
 'Ted Stevens Anchorage International',
 'Theodore Francis Green State',
 'Tucson International',
 'Washington Dulles International',
 'Will Rogers World',
 'William P Hobby'}

In [163]:
len(set(merged['ชื่อสนามบิน']))

70